body {
  margin:0;
}

.content {
  padding: 20px;
  margin-top: 5px;
}

.menu {
  background-color: #000000;
  background-image: linear-gradient(90deg, rgba(175,175,175,1) 0%, rgba(117,116,116,1) 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu a {
  color: #ff0000;
  float: left;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none;
  font-size: 16px;
  border-right: 1px solid #ff0000
}

.menu a:hover {
  background-color: #ffffff;
  color: #000000;
}

.menu a.active {
  background-color: #757474;
  color: #ffffff;
}
