.menu {
  background-color: #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a{
  color: #ffffff;
  float: left;
  display: block;
  text-align: center;
  padding: 13px 9px;
  font-size: 10px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #ffffff;
  color: #000000;
}

.active{
  background-color: #c442fc;
  color: #ffffff;
}
