body {
  margin:0;
}

.content {
  padding: 20px;
  margin-top: 10px;
}

.menu {
  background-color: #0b6623;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 5px solid #D4AF37

  
}

.menu a {
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  background-color: #ffffff;
  color: #000000;
}

.menu a.active {
  background-color: #073d15;
  color: #ffffff;
}



