body {
  margin:0;
}

.content {
  padding: 40px;
  margin-top: 5px;
  font-family: 'Open Sans', serif;
}

.menu {
  background-color: #0b6623;
  background-image: linear-gradient(90deg, #0b6623 0%, #0b6623 100%);
  font-family: 'Open Sans', serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 5px solid #D4AF37;
}

.menu a {
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  background-color: #ffffff;
  color: #FF0000;
}

.menu a.active {
  background-color: #073d15;
  color: #ffffff;
}
