body {
  margin:0;
}

.content {
  padding: 10px;
  margin-top: 15px;
  font-family: 'Lora', serif;
}

.menu {
  background-color: #0b6623;
  font-family: 'Lora', serif;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 5px solid #D4AF37;
}

.menu a {
  color: #ffffff;
  float: left;
  text-align: center;
  padding: 7px 9px;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  background-color: #118a30;
  color: #ffffff;
}

.menu a.active {
  background-color: #073d15;
  color: #ffffff;
}
